{% extends "auctions/layout.html" %}

{% block body %}
    <h3>Listings</h3><hr> <br>
    <section class="products">
    {% for listing in listings %}
        <div class="card mr-3 mb-3" style="width: 18rem;">
          <a href="{% url 'auctions:listing_page' listing_id=listing.id%}">
          <img class="card-img-top" src="{{listing.product_image_url}}" alt="Image not available">
          </a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'auctions:listing_page' listing_id=listing.id%}">{{listing.product_name}}
              </a> 
            </h5>
            <p>Starting bid: {{listing.minimal_bid}} €</p>
            <p class="card-text">{{listing.description}}.</p>
            <p>Created at: {{listing.pubdate}}</p>
            <a href="{% url 'auctions:listing_page' listing_id=listing.id%}" class="btn btn-outline-secondary" style="position: absolute; bottom: 0; right: 0;">
              Show details
            </a>
          </div>
        </div>
      {% endfor %}
      </section>
{% endblock %}
