{% extends "auctions/layout.html" %}


{% block body %}

{% if no_item %}
<div class="centered">
    <h1>No item to display</h1>
</div>
{% else %}
<div class="centered">
    <h3>Watchlist</h3>
</div>
<section class="products">

    {% for listing in watched_list %}
        <div class="card mr-3 mb-3" style="width: 18rem;">
          <img class="card-img-top" src="{{listing.Product_Name.product_image_url}}" alt="Image not available">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'auctions:listing_page' listing_id=listing.Product_Name.id%}">{{listing.Product_Name.product_name}}
              </a> 
            </h5>
            <p>Starting bid: {{listing.Product_Name.minimal_bid}} €</p>
            <p>Added at: {{listing.added_at}} </p>
            
          </div>
        </div>
      {% endfor %}
      </section>
{% endif %}
{% endblock %}